@import url(http://fonts.googleapis.com/css?family=Lato);
body{
   font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

ul.nav.nav-pills{
    float: right;
}

.section>div.col-md-7 , .section>div.col-md-5{
    padding-left: 0;
}

body{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.well{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    background-color:beige;
}
.jumbotron{
     background-color:beige;
}
.row.section{
    margin-top: 15px;
}

.header>div.col-md-4{
    padding-top: 8px;
}
.footer{
        margin-top: 41px;
}  
/***************************************** Loggged In Style*****************************************/ 
.loggedin{
    color:green;
    text-align:right;
    padding-top:11px
}
.loggedin_login{
    color:green;
    text-align:center;
    font-size:19px;
    padding-top:15px
}

/***************************************** Log In Page*****************************************/ 
.profile{  
    padding-top: 5px;
}
.nav{  
    padding-top: 15px;
}

.logForm, .reg-form{
    padding-top: 55px;
}
.bg-primary{
  font-size: 15px;
  text-align: center;
  padding: 9px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
/****************************Profile page********************************************************/
.pro{
    text-align: center;
}
.pro>h1{
    padding-bottom: 15px;
}
.pro>a{
    margin-top: 15px;
}
/****************************contact page********************************************************/
.contact{
    text-align: center;
}
